Repository AgrospAI/oceanprotocol-job-details: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, mypy

.pre-commit-config.yaml:

repos:
  # ---- Basic hygiene ----
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-toml
      - id: check-added-large-files

  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: ruff check --fix
        language: system
        types: [python]
        require_serial: true

      - id: ruff-format
        name: ruff-format
        entry: ruff format
        language: system
        types: [python]
        require_serial: true

      - id: mypy
        name: mypy
        entry: mypy
        language: system
        types: [python]
        exclude: ^tests/|test_.*\.py$
        require_serial: true

fix: CI
  .github/workflows/package-testing.yml
  oceanprotocol_job_details/settings.py
  pyproject.toml
  uv.lock
Due: ruff, ruff-format, mypy

fix: CI
  .github/workflows/package-testing.yml
Due: none

fix: coverage svg and publish on release
  .github/workflows/python-publish.yml
  README.md
  uv.lock
Due: none

fix: 100% code coverage
  .coverage
  oceanprotocol_job_details/loaders/loader.py
  oceanprotocol_job_details/settings.py
  pyproject.toml
  tests/test_environment.py
  tests/test_executor.py
  uv.lock
Due: ruff, ruff-format, mypy

Update coverage badge
  coverage.svg
Due: none

fix: SonarQube warnings
  oceanprotocol_job_details/__init__.py
  oceanprotocol_job_details/domain/derived.py
  oceanprotocol_job_details/ocean.py
  uv.lock
Due: ruff, ruff-format, mypy

fix: sonarqube
  oceanprotocol_job_details/domain/derived.py
Due: ruff, ruff-format, mypy

impl: Improved JobDetails input parameter typing + better intention
  .bumpversion.toml
  oceanprotocol_job_details/__init__.py
  oceanprotocol_job_details/domain/derived.py
  oceanprotocol_job_details/exceptions.py
  oceanprotocol_job_details/executors.py
  oceanprotocol_job_details/helpers.py
  oceanprotocol_job_details/loaders/impl/ddo.py
  oceanprotocol_job_details/loaders/impl/files.py
  oceanprotocol_job_details/loaders/impl/job_details.py
  oceanprotocol_job_details/loaders/loader.py
  oceanprotocol_job_details/ocean.py
  pyproject.toml
  tests/test_empty_job_details.py
  tests/test_environment.py
  tests/test_executor.py
  tests/test_job_details.py
  uv.lock
Due: ruff, ruff-format, mypy

chore: upgraded version
  .coverage
  coverage.svg
  uv.lock
Due: none

fix: enabling None as InputParameterT
  oceanprotocol_job_details/di.py
  oceanprotocol_job_details/helpers.py
  oceanprotocol_job_details/loaders/impl/job_details.py
  oceanprotocol_job_details/ocean.py
Due: ruff, ruff-format, mypy

fix: remove unused code
  oceanprotocol_job_details/__init__.py
  oceanprotocol_job_details/helpers.py
  tests/test_job_details.py
  uv.lock
Due: ruff, ruff-format, mypy

impl: improved testing
  .coverage
  coverage.xml
  oceanprotocol_job_details/exceptions.py
  oceanprotocol_job_details/ocean.py
  pyproject.toml
  tests/conftest.py
  tests/data.py
  tests/test_derived.py
  tests/test_empty_job_details.py
  tests/test_files.py
  tests/test_job_details.py
  tests/test_job_settings.py
  tests/test_ocean.py
  uv.lock
Due: ruff, ruff-format, mypy

fix: test passing for 3.10
  tests/test_job_details.py
  tests/test_ocean.py
Due: ruff, ruff-format

impl: added helper to path DATA/transformations/algorithm
  .coverage
  coverage.xml
  oceanprotocol_job_details/domain/derived.py
  tests/test_derived.py
Due: ruff, ruff-format, mypy

impl: plugin system
  .pre-commit-config.yaml
  oceanprotocol_job_details/di.py
  oceanprotocol_job_details/domain/ddo.py
  oceanprotocol_job_details/loaders/__init__.py
  oceanprotocol_job_details/loaders/impl/__init__.py
  oceanprotocol_job_details/loaders/impl/ddo.py
  oceanprotocol_job_details/loaders/impl/files.py
  oceanprotocol_job_details/loaders/impl/job_details.py
  oceanprotocol_job_details/loaders/input_loader.py
  oceanprotocol_job_details/loaders/loader.py
  oceanprotocol_job_details/ocean.py
  oceanprotocol_job_details/plugins.py
  pyproject.toml
  tests/test_job_details.py
  tests/test_ocean.py
  uv.lock
Due: ruff, ruff-format, mypy

chore: exporting members
  oceanprotocol_job_details/__init__.py
Due: ruff, ruff-format, mypy

refactor: removed and
  .pre-commit-config.yaml
  oceanprotocol_job_details/helpers.py
  oceanprotocol_job_details/ocean.py
  oceanprotocol_job_details/settings.py
  pyproject.toml
  tests/test_job_details.py
  tests/test_ocean.py
  uv.lock
Due: ruff, ruff-format, mypy

fix: warning
  oceanprotocol_job_details/__init__.py
  oceanprotocol_job_details/loaders/impl/job_details.py
Due: ruff, ruff-format, mypy

fix: fractional prices
  oceanprotocol_job_details/domain/ddo.py
Due: ruff, ruff-format, mypy
